@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.cards{
    margin: 10% 8%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
   gap: 30px;
}
.card{
    box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
}

img{
    width: 100%;
    height: 50%;
}
.textpart{
  /* padding: 24px; */
  padding: 6%;
}
.readme{
    margin-top: 20px;
    display: flex;
    justify-content: space-between
}
.date{
    margin-bottom: 10px;
    color: #cccccc;
    font-size: 17px;
}


.paragraph p{
    font-size: 20px;
    margin: 0;
    padding: 0;

}

.paragraph p:hover{

color: #d45e5e;
cursor: pointer;

}

.readme a:first-child{
    color: #ffc3c3;
    text-decoration: none;
}

.readme a:last-child{
    color: #cccccc;
}
.gole{
    display: flex;
    justify-content: center;
    margin-bottom: 8%;
    gap: 3px;
}
.gole >div{
      border:1px #cccccc solid;  
    border-radius: 50%;
    color:red;
    padding: 1%;
    padding-left: 1.5%;
    padding-right: 1.5%;
    
}
#fgole{
    background-color: #ff5f5f;
    color:#24262b;
    padding-left: 1.6%;
    padding-right: 1.6%;
}



.gole  div:hover{
    
    color: #24262b;
  
    background-color:#ff5f5f;
    cursor: pointer;
}

/*  */
@media screen and (max-width: 768px){
    .cards {
        grid-template-columns: repeat(1, 1fr);
    }

}

/* for tablet */
@media screen and (min-width: 768px){
    .cards {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 980px){
    .cards {
        grid-template-columns: repeat(4, 1fr);
    }
}