.ftco-navbar-light {
    background: transparent !important;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 3;
    top: 10px
}

@media (max-width:991.98px) {
    .ftco-navbar-light {
        background: #000 !important;
        top: 0;
        position: relative
    }
}

.ftco-navbar-light .navbar-nav>.nav-item>.nav-link {
    font-size: 16px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
    color: #f0f0f0;
    opacity: 1 !important
}

.ftco-navbar-light .navbar-nav>.nav-item>.nav-link:hover {
    color: #fff
}

@media (max-width:991.98px) {
    .ftco-navbar-light .navbar-nav>.nav-item>.nav-link {
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 0;
        padding-right: 0
    }
}

.ftco-navbar-light .navbar-nav>.nav-item.active>a {
    color: rgba(255, 255, 255, .5)
}

.ftco-navbar-light .navbar-toggler {
    border: none;
    color: rgba(255, 255, 255, .5) !important;
    cursor: pointer;
    padding-right: 0;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: .1em
}

.ftco-navbar-light.scrolled {
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    margin-top: -130px;
    background: #fff !important;
    -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, .1);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .1)
}

.ftco-navbar-light.scrolled .nav-item.active>a {
    color: #ff5f5f !important
}

@media (max-width:991.98px) {
    .ftco-navbar-light.scrolled .navbar-nav {
        background: none;
        border-radius: 0;
        padding-left: 0 !important;
        padding-right: 0 !important
    }
}

@media (max-width:767.98px) {
    .ftco-navbar-light.scrolled .navbar-nav {
        background: none;
        padding-left: 0 !important;
        padding-right: 0 !important
    }
}

.ftco-navbar-light.scrolled .navbar-toggler {
    border: none;
    color: rgba(0, 0, 0, .5) !important;
    border-color: rgba(0, 0, 0, .5) !important;
    cursor: pointer;
    padding-right: 0;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: .1em
}

.ftco-navbar-light.scrolled .nav-link {
    padding-top: .9rem !important;
    padding-bottom: .9rem !important;
    color: #000 !important
}

.ftco-navbar-light.scrolled .nav-link.active {
    color: #ff5f5f !important
}

.ftco-navbar-light.scrolled.awake {
    margin-top: 0;
    -webkit-transition: .3s all ease-out;
    -o-transition: .3s all ease-out;
    transition: .3s all ease-out
}

.ftco-navbar-light.scrolled.sleep {
    -webkit-transition: .3s all ease-out;
    -o-transition: .3s all ease-out;
    transition: .3s all ease-out
}

.ftco-navbar-light.scrolled .navbar-brand {
    color: #000
}

.navbar-brand {
    font-weight: 400
}

@media (max-width: 991.98px) {
    .navbar-expand-lg>.container, .navbar-expand-lg>.container-fluid {
        padding-right: 0;
        padding-left: 0
    }

    .ftco-navbar-light {
        background: #000 !important;
        top: 0;
        position: relative;
    }
}

@media (min-width:992px) {
    .navbar-expand-lg {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
        flex-flow: row nowrap;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start
    }

    .navbar-expand-lg .navbar-nav {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row
    }

    .navbar-expand-lg .navbar-nav .dropdown-menu {
        position: absolute
    }

    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: .5rem;
        padding-left: .5rem
    }

    .navbar-expand-lg>.container, .navbar-expand-lg>.container-fluid {
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap
    }

    .navbar-expand-lg .navbar-collapse {
        display: -webkit-box !important;
        display: -ms-flexbox !important;
        display: flex !important;
        -ms-flex-preferred-size: auto;
        flex-basis: auto
    }

    .navbar-expand-lg .navbar-toggler {
        display: none
    }
}